body {
    font-family: "poppins";
}
form{
    background-image: url(../img/hsh3.jpg);
    background-repeat: no-repeat;
    width: 1350px;
    height: 536px;
    padding-top: 50px;
}

.grid {
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    
    
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttoncontainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*footer*/
footer {
    background: rgb(9,64,121);
    background: linear-gradient(90deg, rgba(9,64,121,1) 29%, rgba(0,206,255,1) 100%);
    margin-top: 15em;
    text-align: center;
    font-family: "poppins";
    font-size: small;
}

.imgfooter {
    display: inline-block;
    text-align: center;
}

footer img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

footer h6 {
    text-align: center;
    color: white;
    padding-top: 30px;
}

footer ul {
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-right: 40px;
    list-style: none;
}