@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

nav {
    font-family: "poppins";
}

.inicio{
    text-align: center;
    background-image: url("../img/hsh5.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 1400px;
    margin-left: -118px;
}

h1 {
    font-style: italic;
    font-family: "poppins";
    text-align: center;
    padding-top: 2em;
}

.boton-inicio {
    height: 40px;
    width: 250px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.barra-inicio {
    display: inline-block;
    text-align: center;
    width: 750px;
    height: 40px;
    margin-top: 30px;
}

ul li {
    list-style: none;
}

/*nav*
ul li {
    display: inline-block;
    padding: 5px 5px;
    margin-left: 10px;
    font-family: "poppins";
    text-align: right;
    list-style: none;
}

ul li ul{
    position: relative;
    display: none;
    overflow: hidden;
    margin-left: -7%;
}

ul li ul li{
    display: block;
}

ul li:hover ul{
    display: block;
    position: absolute;
}*/

h2 {
    font-family: "poppins";
    text-align: center;
    padding-top: 1em;
    font-weight: bolder;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    transform: translateY(-15px);
    cursor: pointer;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
}

.card {
    width: 300px;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    font-family: "poppins";
    border:solid;
    border-width: 2px;
    border-color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cardtext {
    height: 210px;
}

.card img {
    align-self: center;
    width: 300px;
    height: 250px;
}

.boton-card {
    width: 100px;
    font-family: "poppins";
    font-weight: bolder;
    margin-bottom: 10px;
    margin: auto;
    margin-bottom: 5px;     
}

.card h3{
    padding-left: 0.5em;
    padding-top: 1em;
    font-weight: bold;
    font-size: large;
}

.card p {
    padding-left: 0.5em;
}

/*footer*/
footer {
    background: rgb(9,64,121);
    background: linear-gradient(90deg, rgba(9,64,121,1) 29%, rgba(0,206,255,1) 100%);
    margin-top: 15em;
    text-align: center;
    font-family: "poppins";
    font-size: small;
}

.imgfooter {
    display: inline-block;
    text-align: center;
}

footer img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

footer h6 {
    text-align: center;
    color: white;
    padding-top: 30px;
}

footer ul {
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-right: 40px;
}