@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "poppins";
}

.nav-item {
    margin-left: 20px;
}

.info {
  background-color: #e1f1dd;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
}

.info h2 {
  padding-top: 30px;
  font-weight: bold;
}

.info h4 {
    padding-top: 40px;
}

.info .card {
  margin-left: 200px;
  height: 400px;
  margin-top: 30px;
}

.info .card button {
  margin-top: 20px;
}

.icon li {
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: -20px;
}

footer {
  background: #094079;
  background: -webkit-gradient(linear, left top, right top, color-stop(29%, #094079), to(#00ceff));
  background: linear-gradient(90deg, #094079 29%, #00ceff 100%);
  margin-top: 15em;
  text-align: center;
  font-family: "poppins";
  font-size: small;
}

footer .imgfooter {
  display: inline-block;
  text-align: center;
}

footer img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

footer h6 {
  text-align: center;
  color: white;
  padding-top: 30px;
}

footer ul {
  color: white;
  text-align: center;
  margin-top: 8px;
  margin-right: 40px;
  list-style: none;
}