@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$font-family: "poppins";

nav {
    font-family: $font-family;

    li {
        padding-left: 20px;
    }
}



.info {
    h1 {
        font-family: $font-family;
        margin-top: 30px;
    }

    p {
        font-family: $font-family;
    }

    .img {
        margin-top: 100px;
    }
}

footer {
    background: rgb(9,64,121);
    background: linear-gradient(90deg, rgba(9,64,121,1) 29%, rgba(0,206,255,1) 100%);
    margin-top: 15em;
    text-align: center;
    font-family: $font-family;
    font-size: small;

.imgfooter {
    display: inline-block;
    text-align: center;
}

img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

h6 {
    text-align: center;
    color: white;
    padding-top: 30px;
}

ul {
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-right: 40px;
    list-style: none;
}
}